.select-sort-box {
	margin-top: 4px;
	float: left;
	width: 248px;
}

.select-sort {
	background-color: #b0b435;
	text-align: center;
	display: block;
	color: #fff;
	padding: 4px 0;
}

.select-sort:hover {
	color: #000;
}

.select-sort-box:hover .subnav-sort {
	display: block;
}

.select-sort-box:hover {
	color: #000;
}

.subnav-sort li {
	background-color: #fff;
	color: #ccc;
	text-align: left;
	padding: 4px 0;
}

.subnav-sort li:hover {
	background-color: #ddd;
}

.subnav-sort {
	position: absolute;
	z-index: 10;
	width: 248px;
	display: none;
}

.subnav-sort a {
	margin-left: 14px;
	display: block;
}

.select-sort-box i {
	float: right;
	color: #fff;
	margin-right: 10px;
	margin-top: -23px;
}

.btn-login-first {
	z-index: -1;
	width: 118px;
	height: 44px;
	position: absolute;
	margin: -86px 0 0 -59px;
}

.login-box2 {
	width: 288px;
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}
.select-language{
	background:#b0b435; 
	text-align: center;
}
.select-language a {
	color:#fff;
	
}

.width-flag{
	width: 23px;
	margin-left: 10px;
}
.subnav-language{
	background: #fff;
	display: none;
	cursor: pointer;
	position: absolute;
    z-index: 11;
    width: 12.88%;
     transition: all 0.3s ease;
}
.subnav-language a{
	display: block;
}
.subnav-language li:hover{
	background: #ccc;
}

.select-language:hover + .subnav-language,.subnav-language:hover {
	display: block;
	cursor: pointer;
}